{% extends "./base.html" %}

    {% block header %}
        <div class="d-flex justify-content-center">
            <h3 class="mbr-section-subtitle align-center mbr-light pb-3 mbr-fonts-style display-2">
                About us :
            </h3>
        </div>        
    {% endblock %}

    {% block content %}        
        <div class="container" style="margin-bottom: 25%;">        
            <h3 class="mbr-text align-center pb-3 mbr-fonts-style display-5">
                We are all very different. We were born in different cities, at different times, we love different music, food, movies. But we have something that unites us all. It is our company. We are its heart. We are not just a team, we are a family.
            </h3>
            <p>
                This project was made by student of BSUIR. <br>
                If you wanna join team. Contacts below. <br>
                Email : thebestguy1101001@gmail.com
            </p>    
        </div>
    {% endblock %}